data/
CTGAN/.github
CTGAN/examples
CTGAN/.gitignore
CTGAN/AUTHORS.rst
CTGAN/CONTRIBUTING.rst
tableGAN/data
thesisGAN/input
CTGAN/ctgan/__pycache__/__init__.cpython-310.pyc
CTGAN/ctgan/__pycache__/data_sampler.cpython-310.pyc
CTGAN/ctgan/__pycache__/data_transformer.cpython-310.pyc
CTGAN/ctgan/__pycache__/demo.cpython-310.pyc
CTGAN/ctgan/synthesizers/__pycache__/__init__.cpython-310.pyc
CTGAN/ctgan/synthesizers/__pycache__/base.cpython-310.pyc
CTGAN/ctgan/synthesizers/__pycache__/ctgan.cpython-310.pyc
CTGAN/ctgan/synthesizers/__pycache__/tvae.cpython-310.pyc
.vscode/launch.json
.vscode/settings.json
TGAN/.eggs/README.txt
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/EGG-INFO/entry_points.txt
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/EGG-INFO/LICENSE
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/EGG-INFO/PKG-INFO
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/EGG-INFO/RECORD
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/EGG-INFO/requires.txt
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/EGG-INFO/top_level.txt
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/EGG-INFO/WHEEL
TGAN/.eggs/pytest_runner-6.0.1-py3.10.egg/ptr/__init__.py
TGAN/tgan/__pycache__/__init__.cpython-37.pyc
TGAN/tgan/__pycache__/__init__.cpython-310.pyc
TGAN/tgan/__pycache__/data.cpython-37.pyc
TGAN/tgan/__pycache__/data.cpython-310.pyc
TGAN/tgan/__pycache__/model.cpython-37.pyc
TGAN/tgan/__pycache__/trainer.cpython-37.pyc
TGAN/output/model/graph-0305-103629.meta
TGAN/output/logs/events.out.tfevents.1709631248.DESKTOP-2BI0HKR
TGAN/output/logs/events.out.tfevents.1709632126.DESKTOP-2BI0HKR
TGAN/output/logs/events.out.tfevents.1709634525.DESKTOP-2BI0HKR
TGAN/output/logs/log.log
TGAN/output/logs/log.log.0305-104836
TGAN/output/logs/log.log.0305-112835
