.vscode/launch.json
.vscode/settings.json
data/
thesisgan/model-outputs/
thesisgan/input/
ctgan/.github
ctgan/examples
ctgan/.gitignore
ctgan/AUTHORS.rst
ctgan/CONTRIBUTING.rst
ctgan/__pycache__/
ctgan/synthesizers/__pycache__/
ctabganplus/model/__pycache__/
ctabganplus/model/synthesizer/__pycache__/
ctabganplus/.ipynb_checkpoints/
ctabganplus/Real_Datasets/
ctabganplus/Fake_Datasets/
itgan/synthesizers/__pycache__/
itgan/synthesizers/ffjord/__pycache__/
itgan/synthesizers/ffjord/layers/__pycache__/
itgan/synthesizers/ffjord/layers/torchdiffeq/__pycache__/
itgan/synthesizers/ffjord/layers/torchdiffeq/_impl/__pycache__/
itgan/synthesizers/ffjord/layers/wrappers/__pycache__/
itgan/util/__pycache__/
itgan/synthesizers/ffjord/layers/diffeq_layers/__pycache__/
itgan/last_result/
wandb/
ctabganplus/ctabgan_model.pkl
ctabganplus/ctabgan_model.zip
saved-model/malware_model.pkl
thesisgan/__pycache__/
ctabganplus/model/.DS_Store
